@import '../../../commonStyles/commonStyles.scss';

.footer__informaiton-box {
  @include base-flex(row, 30px);
  margin-top: 6px;
  width: 100%;
}

.footer__informaiton-list {
  list-style: none;
  @extend %null__item;
  @include base-flex(column, 16px);
}

.footer__informaiton-link {
  @extend %links;
  @extend %text__small;
  color: $textColor;
  min-width: 170px;
  display: block;
  &:hover {
    color: $violetButton;
  }
}
