@import '../../../commonStyles/commonStyles.scss';

.article-template__block-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.extended-article-template_picture {
  margin: 40px 0 0 0;
  width: 70%;
  max-width: 670px;
}

.extended-article-template__subtitle {
  font-style: italic;
  color: $violetDetails;
  margin-bottom: 20px;
}

.extended-article-template__lead {
  @extend %text__benefits;
  @extend %null__item;
  max-width: 800px;
}

.extended-article-template__block-title {
  @extend %text__button_small;
  //@extend %null__item;
  min-height: 36px;
}

.extanded-article-template__paragraph {
  max-width: 700px;
}

@media screen and (max-width: 767px) {
  .extended-article-template__lead {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .extended-article-template__block-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    margin-top: 0;
  }
  .extended-article-template_picture {
    margin: 20px 0 0 0;
    width: 100%;
    max-width: 100%;
  }
}
