@import '../../../commonStyles/commonStyles.scss';

.priceCard {
  box-sizing: border-box;
  padding: 32px;
  max-width: 370px;
  min-height: 536px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #ffffff;
  @extend %button__transition;
  &:hover {
    // position: relative;
    filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12))
      drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
  }
}

/*.priceCard_priority {
  position: relative;
  filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12))
    drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
}*/

.priceCard__title {
  @extend %null__item;
  letter-spacing: 0.2px;
  color: $violetDetails;
  @extend %text__regular;
  font-weight: 700;
}

.priceCard__price {
  margin: 16px 0 24px;
  @extend %text__caption;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.priceCard__price-accent {
  @extend %big__capture;
  letter-spacing: -1px;
  text-transform: lowercase;
}

.priceCard__condition-list {
  @extend %null__item;
  list-style: none;
}

.priceCard__condition {
  @extend %null__item;
  margin-bottom: 16px;
  margin-left: 48px;
  @extend %text__regular;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: -48px;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/icons/Icon-list-gray.svg);
  }
}

.priceCard__condition_priority {
  &::after {
    background-image: url(../../../images/icons/Icon-list-yellow.svg);
  }
}

.priceCard__condition_standart {
  &::after {
    background-image: url(../../../images/icons/Icon-list-green.svg);
  }
}

.priceCard__button {
  width: 100%;
  max-width: 306px;
  height: 64px;
  margin-top: 0;
  background: white;
  @extend %text__button_small;
  @extend %button__transition;
  &:hover {
    color: white;
    background: $violetDetails;
  }
}

/*.priceCard__button_priority {
  color: white;
  background: $violetDetails;
  @extend %text__button_small;
  opacity: 1;
  &:hover {
    opacity: 0.8;
  }
}*/
