@import '../../../commonStyles/commonStyles.scss';

.contact-form {
  width: 100%;
  @include base-flex(column, 30px);
  margin-top: 16px;
}

.contact-form__box {
  @include base-flex(row, 30px);
  width: 100%;
}

.contact-form__input {
  font-family: inherit;
  @extend %text__regular;
  color: $textColor;
  background-color: $basicGray;
  border-radius: 16px;
  border: none;
  display: block;
  &:focus {
    outline-color: $violetDetails;
    outline-style: solid;
    outline-width: 2px;
    color: $violetDetails;
    font-weight: 700;
  }
  &::placeholder {
    font-family: 'Inter';
    @extend %text__regular;
    color: $textColor;
  }
}

.contact-form__name {
  @extend %input;
}

.contact-form__email {
  @extend %input;
}

.contact-form__text {
  @include inputs(370px, 80px, 16px);
  resize: none;
}

.contact-form__error {
  color: $accentColorRed;
  margin-top: 10px;
  margin-left: 10px;
  @extend %text__small;
  display: block;
  max-width: 270px;
  position: absolute;
  bottom: -25px;
  left: 0;
}

.contact-form__name-input,
.contact-form__email-input,
.contact-form__message-input {
  position: relative;
}
