@import '../../commonStyles/commonStyles.scss';

.FAQ__container {
  background-color: $mainBackgroundColor;
  width: 100%;
}

.FAQ__box {
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
  padding: 80px 135px;
  margin: 0 auto;
}

.FAQ__title {
  @extend %title__small;
  @extend %null__item;
  margin-bottom: 30px;
}

.FAQ__accordion-box {
  //border-bottom: 3px solid $violetDetails;
  //border-bottom: dotted $violetDetails;
  border-bottom: dotted $yellowDetails;
  border-width: 8px;
  color: $textColor;
  font-size: 1.5rem;
  margin-bottom: 15px;
  box-sizing: border-box;
  filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16))
    drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
}

.FAQ__question {
  padding: 1.3em 1.3em;
  //@extend %text__button_small;
  @include fonts(700, 18px, 32px);
  letter-spacing: 0.2px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  //transition: height 1s ease;
  transition: all 0.3s ease;
  &::-webkit-details-marker {
    display: none;
  }
  &::after {
    content: '\002B';
    transition: all 0.3s ease;
  }
  &:hover {
    color: $violetDetails;
  }
}

details[open] summary {
  border-radius: 16px;
  margin-bottom: 0.5em;
  transition: all 0.3s ease;
}

details[open] summary:after {
  content: '\00D7';
  transition: all 0.3s ease;
}

details[open] div {
  //padding: 1em 1em;
  padding: 0.5em 1.3em 1.3em 1.3em;
  @extend %text__regular;
  transition: all 0.3s ease;
}
