@import '../../../commonStyles/commonStyles.scss';

.question {
  @extend %title__small;
  letter-spacing: -0.5px;
  color: $violetDetails;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .question {
    @include fonts(700, 18px, 32px);
    letter-spacing: 0.25px;
  }
}
