@import '../../commonStyles/commonStyles.scss';

.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.notfound__title {
  margin: 146px auto 5px;
  color: $yellowDetails;
  @extend %title__main;
}

.notfound__subtitle {
  @extend %title__block_large;
  margin: 0;
}

.notfound__link {
  @extend %text__regular;
  text-align: center;
  color: $textColor;
  border: none;
  &:hover {
    color: $greenDetails;
  }
  // background-color: #ffffff;
}

.container {
  position: relative;
  width: 100%;
  height: 300px;
  padding-top: 0px;
  margin-right: 80%;
}

.loro {
  position: relative;
  width: 231px;
  height: 300px;
  margin-right: 120px;
}

.circ {
  position: absolute;
  width: 121px;
  height: 212px;
  border-radius: 300px 0 0 300px;
  background: $greenDetails;
  margin: 30px 50%;
  z-index: 2;
}

.circ3 {
  position: absolute;
  display: block;
  width: 80px;
  height: 45px;
  border-radius: 0 0 90px 90px;
  background: #f7a500;
  margin: 140px 192px;
  transform: rotate(20deg);
}

.circ5 {
  position: absolute;
  width: 75px;
  height: 121px;
  border-radius: 90px 0 0 90px;
  background: white;
  margin: 70px 161px;
  z-index: 3;
}

.ojo {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #333;
  border: 3px solid #ff6666;
  margin: 90px 192px;
  z-index: 33;
}

.circ7 {
  position: absolute;
  width: 65px;
  height: 60px;
  border-radius: 0 192px 0 0;
  background: #f7ce43;
  margin: 70px 215px;
  transform: rotate(-25deg);
}

.circ8 {
  position: absolute;
  width: 45px;
  height: 10px;
  border-radius: 50%;
  background: #ff6666;
  margin: 135px 220px;
  animation: circ8 0.5s infinite linear;
}

.text-figure {
  position: absolute;
  width: 200px;
  height: 100px;
  margin: 85px 305px;
  overflow: hidden;
  border-radius: 50px;
  border-style: solid;
  border-color: $greenDetails;
  border-width: 3px;
}

.aaaa {
  @extend %title__block_large;
  margin: 0;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  animation: aaaa 1.5s infinite linear;
  &:after {
    content: 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA';
  }
}

.detail {
  width: 0;
  height: 0;
  position: absolute;
  margin: 125px 285px;
  border-top: 12px solid transparent;
  border-right: 24px solid $greenDetails;
  border-bottom: 12px solid transparent;
}

@keyframes aaaa {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
}

@keyframes circ8 {
  0% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(25deg);
  }
}
