@import '../../commonStyles/commonStyles.scss';

.promo {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @extend %paddings__block;
}

.promo__box {
  max-width: 1440px;
  margin: 0 auto;
}

.promo__text {
  @extend %text__regular;
}

.promo__figure {
  background-color: $promoFigure;
  position: absolute;
  width: 868px;
  height: 768px;
  border-radius: 99px;
  //transform: rotate(-45deg);
  //если не хочется крутить фигуру, ее положение может быть таким
  opacity: 0.5;
  top: -20%;
  right: -10%;
}

.promo__dots {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../images/dots.svg);
  opacity: 1;
  position: absolute;
  width: 209px;
  height: 285px;
  right: 0px;
  top: 24px;
}

.promo__title-box {
  position: relative;
  z-index: 2;
  text-align: center;
}

.promo__title {
  @extend %title__main;
  letter-spacing: -3px;
  margin: 0 0 16px 0;
}

.promo__subtitle_desktop {
  @extend %title__block_large;
  letter-spacing: -1px;
  margin: 0;
}

.promo__strong-word {
  color: $accentColorRed;
  text-shadow: 0px 4px 0px #ffffff;
  position: relative;
  z-index: 2;
  &::after {
    content: '';
    position: absolute;
    width: 191px;
    height: 51px;
    right: -4%;
    bottom: -4%;
    background-color: #55efc4;
    z-index: -1;
    border-radius: 99px;
    opacity: 1;
  }
}

.promo__strong-word_mobile {
  display: none;
}

.promo__subtitle_mobile {
  display: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation-name: rotation;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 767px) {
  .promo {
    padding: 48px 0 32px;
  }
  .promo__box {
    max-width: 100%;
    margin: 0 auto;
  }
  .promo__title {
    @include fonts(900, 64px, 77px);
    letter-spacing: -1px;
    margin: 0;
    text-shadow: 0px 4px 0px #ffffff;
  }
  .promo__strong-word_desktop {
    display: none;
  }
  .promo__strong-word_mobile {
    display: block;
    @include fonts(700, 48px, 56px);
    margin: 8px auto 16px;
    letter-spacing: -1px;
    text-shadow: 0px 4px 0px #ffffff;
  }
  .promo__strong-word {
    // text-shadow: 0px 4px 0px #ffffff;
    position: relative;
    z-index: 2;
    &::after {
      content: '';
      position: absolute;
      width: 119px;
      height: 32px;
      background-color: #55efc4;
      z-index: -1;
      border-radius: 99px;
      opacity: 1;
      right: -11%;
      bottom: -11%;
    }
  }
  .promo__subtitle_mobile {
    display: block;
    @include fonts(700, 24px, 36px);
    letter-spacing: 0.25px;
    margin: 0 auto;
    max-width: 80%;
  }
  .promo__subtitle_desktop {
    display: none;
  }
  .promo__dots {
    width: 123px;
    height: 185px;
    top: 0;
  }
  .promo__figure {
    animation: none;
    width: 100%;
    height: 28%;
    top: 0;
    right: 0;
    border-radius: 0;
    background-image: url(../../images/wave.svg);
    background-size: contain;
    opacity: 1;
    background-color: transparent;
  }
}

@media screen and (max-width: 425px) {
  .promo__figure {
    height: 35%;
  }
}
