//colors
$textColor: #2d3436;
$mainBackgroundColor: #ffffff;
$promoFigure: #ffeaa7;
$promoStrongWord: #d63031;
//#e84393 pink;

//mixins
@mixin fonts($weight, $size, $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  opacity: 1;
}

//здесь будет миксин для картинок
//шаблон для кнопок ссылок

//font templates
%text__regular {
  @include fonts(400, 18px, 32px);
}

%title__main {
  @include fonts(800, 96px, 104px);
}

%title__block_large {
  @include fonts(900, 64px, 77px);
}

//padding and margin templates
%paddings__block {
  padding: 80px 135px;
  box-sizing: border-box;
}
