//colors
$textColor: #2d3436;
$mainBackgroundColor: #ffffff;
$promoFigure: #fad867;
$accentColorRed: #ff6666;
$violetDetails: #6c5ce7;
$yellowDetails: #fdcb6e;
$basicGray: #f0f0f0;
$greenDetails: #25b1b0;
$accentColorPink: #e84393;
$accentColorBlue: #0984e3;
$accentColorGreen: #00b894;
$lightGray: #adadad;

//mixins
@mixin fonts($weight, $size, $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  opacity: 1;
}

//миксин для картинок главной галереи
@mixin pictures($width, $height) {
  max-width: $width;
  max-height: $height;
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
}

//миксин для флексов
@mixin base-flex($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

//font templates
%text__regular {
  @include fonts(400, 18px, 32px);
}

%text__button {
  @include fonts(700, 32px, 48px);
}

%text__button {
  @include fonts(700, 32px, 48px);
}

%text__button_small {
  @include fonts(700, 24px, 36px);
}

%title__main {
  @include fonts(800, 96px, 104px);
}

%title__main_mobile {
  @include fonts(900, 64px, 77px);
}

%title__block_large {
  @include fonts(900, 64px, 77px);
}

%text__caption {
  @include fonts(800, 12px, 15px);
}

%text__small {
  @include fonts(400, 14px, 24px);
}

%text__benefits {
  @include fonts(400, 24px, 36px);
}

%title__small {
  @include fonts(700, 32px, 48px);
}

%big__capture {
  @include fonts(700, 48px, 56px);
}

%title__pic-headline {
  text-shadow: 0px 4px 0px #000000;
  color: white;
  letter-spacing: -1px;
  text-align: center;
  @include fonts(700, 48px, 56px);
}

//padding and margin templates
%paddings__block {
  padding: 80px 135px;
  box-sizing: border-box;
}

%paddings__block_small {
  padding: 30px 135px;
  box-sizing: border-box;
}

%paddings__block_mobile {
  box-sizing: border-box;
}

%null__item {
  margin: 0;
  padding: 0;
}

//link template
%links {
  text-decoration: none;
  cursor: pointer;
}

// ui

%button__transition {
  transition: all 0.2s linear 0.1s;
}

//input mixin

@mixin inputs($width, $height, $padding) {
  flex-grow: 1;
  box-sizing: border-box;
  height: $height;
  width: $width;
  padding: $padding;
}

//input template
%input {
  @include inputs(270px, 48px, 8px 16px);
}
