@import '../../commonStyles/commonStyles.scss';

.App {
  //min-height: 100vh;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //justify-content: center;
  color: $textColor;
  background-color: $mainBackgroundColor;
  overflow: hidden;
  box-sizing: border-box;
}

.App__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

body.body_lock {
  overflow: hidden;
}
