@import '../../commonStyles/commonStyles.scss';

.quiz {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 135px;
  box-sizing: border-box;
}

.quiz__box {
  // max-width: 800px;
  margin: 0 0 40px 0;
}

.quiz__title {
  margin: 0;
  @extend %title__block_large;
  letter-spacing: -1px;
  @extend %null__item;
}

.answerOptions {
  list-style: none;
  margin: 40px 0 0 0;
  padding: 0;
  // max-width: 500px;
  max-width: 60%;
}

@media screen and (max-width: 1280px) {
  .quiz {
    padding-right: 65px;
    padding-left: 65px;
  }
}

@media screen and (max-width: 1024px) {
  .quiz {
    padding: 40px 25px;
  }
}

@media screen and (max-width: 767px) {
  .quiz__title {
    @include fonts(700, 24px, 36px);
    letter-spacing: 0.25px;
  }
  .answerOptions {
    max-width: 100%;
    margin: 20px 0 0 0;
  }
  .quiz__box {
    margin: 0 0 20px 0;
  }
}
