@import '../../commonStyles/commonStyles.scss';

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

.navigation__item {
}

.navigation__link_with-dot {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 31%;
    left: -25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $yellowDetails;
  }
}

.navigation__link {
  color: $violetButton;
  @extend %text__regular;
  @extend %links;
}
