@import '../../commonStyles/commonStyles.scss';

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include base-flex(row, 40px);
}

.navigation__link_with-dot {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 31%;
    left: -25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $yellowDetails;
  }
}

.navigation__link_active {
  @include fonts(700, 18px, 32px);
  @extend %links;
  letter-spacing: 0.2px;
  color: $textColor;
}

.navigation__link {
  color: $violetButton;
  @extend %text__regular;
  @extend %links;
  opacity: 1;
  &:hover {
    opacity: 0.8;
  }
}
