@import '../../commonStyles/commonStyles.scss';

.how-it-works {
  width: 100%;
  background-color: $mainBackgroundColor;
}

.how-it-works__box {
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
  padding: 80px 135px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.how-it-works__pic {
  border-radius: 20px;
  max-width: 470px;
  max-height: 380px;
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.how-it-works__pic-box {
  position: relative;
  z-index: 0;
  &::after {
    position: absolute;
    content: '';
    bottom: -30px;
    left: -30px;
    width: 200px;
    height: 126px;
    background-image: url(../../images/wiggle.svg);
    z-index: -1;
  }
}

.how-it-works__text-box {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.how-it-works__title {
  letter-spacing: -0.5px;
  @extend %title__small;
  @extend %null__item;
}

.how-it-works__text {
  @extend %text__regular;
  @extend %null__item;
}

.how-it-works__link {
  margin-top: 0;
  color: white;
  background-color: $violetDetails;
  opacity: 1;
  &:hover {
    opacity: 0.8;
  }
}
