@import '../../../commonStyles/commonStyles.scss';

.result__title {
  letter-spacing: -0.5px;
  @extend %title__small;
  @extend %null__item;
  margin: 40px 0;
}

.result__picture {
  width: 33%;
  max-width: 370px;
  border-radius: 20px;
  object-fit: cover;
}

.result__text {
  @extend %text__regular;
  @extend %null__item;
}

@media screen and (max-width: 767px) {
  .result__title {
    margin: 20px 0;
    @include fonts(700, 18px, 32px);
    letter-spacing: 0.25px;
  }
  .result__picture {
    width: 100%;
    max-width: 100%;
  }
  .result__text {
    @include fonts(400, 14px, 24px);
  }
}
