@import '../../commonStyles/commonStyles.scss';

.header {
  width: 100%;
  z-index: 2;
  position: relative;
  background-color: $mainBackgroundColor;
  max-height: 96px;
  filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16))
    drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
}

.header__box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1440px;
  padding: 16px 135px;
  margin: 0 auto;
}

.header__logo {
  height: 40px;
  width: 40px;
}

.header__logo-background {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: $yellowDetails;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__company-name {
  letter-spacing: -1px;
  @include fonts(700, 48px, 56px);
  //margin: 16px 0 16px 30px;
  margin: 0 0 0 10px;
}

.logo__group {
  display: flex;
  align-items: center;
}

.header__link {
  opacity: 1;
  @extend %button__transition;
  &:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 1280px) {
  .header__box{
    padding-right: 65px;
    padding-left: 65px;
  }
}

@media screen and (max-width: 1024px) {
  .header__company-name{
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-height: 72px;
  }
  .header__box {
    padding: 16px 15px;
    max-width: 100%;
  }
  .header__logo {
    width: 30px;
    height: 30px;
  }
  .header__logo-background {
    width: 40px;
    height: 40px;
  }
  .header__company-name {
    @include fonts(700, 24px, 36px);
    letter-spacing: 0.25px;
  }
}
