@import '../../commonStyles/commonStyles.scss';

.header {
  width: 100%;
  z-index: 2;
  position: relative;
  background-color: $mainBackgroundColor;
  max-height: 96px;
  filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16))
    drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
}

.header__box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1440px;
  padding: 0 135px;
  margin: 0 auto;
}

.header__logo {
  height: 68px;
  width: 68px;
}

.header__company-name {
  letter-spacing: -1px;
  @include fonts(700, 48px, 56px);
  //margin: 16px 0 16px 30px;
  margin: 0 0 0 10px;
}

.logo__group {
  display: flex;
  align-items: center;
}

.header__link {
  opacity: 1;
  @extend %button__transition;
  &:hover {
    opacity: 0.8;
  }
}
