@import '../../../commonStyles/commonStyles.scss';

.pictureBox {
  margin: 64px 0 0 0;
  opacity: 1;
  z-index: 1;
  position: relative;
  max-width: 1170px;
  //overflow: hidden;
  @include base-flex(row, 2.5%);
  width: 100%;
}

.pictureBox__fragment_left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 23.6%;
}

.pictureBox__pic1-headline {
  @extend %null__item;
  @include fonts(700, 18px, 32px);
  text-align: center;
  letter-spacing: 0.2px;
  color: white;
  position: absolute;
  top: 18%;
  //left: 7%;
}

.pictureBox__pic1-descripton {
  @extend %null__item;
  @include fonts(400, 14px, 24px);
  text-align: center;
  letter-spacing: 0.2px;
  display: block;
  color: white;
  position: absolute;
  top: 27%;
  left: 26%;
}

.pictureBox__pic_1 {
  @include pictures(270px, 464px);
  width: 100%;
}

.pictureBox__text {
  @extend %text__regular;
}

.pictureBox__text_left-figure {
  max-width: 270px;
  min-height: 102px;
  margin: 0 0 16px 0;
}

.pictureBox__button {
  margin: 30px 0 0;
  max-width: 270px - 44px;
  width: 100%;
}

.pictureBox__fragment_top {
  @include base-flex(row, 3.5%);
  align-items: flex-end;
  position: relative;
}

.pictureBox__pic_2 {
  @include pictures(470px, 380px);
  width: 54%;
}

.pictureBox__pic_3 {
  @include pictures(170px, 222px);
  width: 46%;
}

.pictureBox__pic_4 {
  @include pictures(170px, 222px);
  width: 46%;
}

.pictureBox__figure-box {
  @include base-flex(row, 8%);
}

.pictureBox__text_top-figure {
  max-width: 370px;
  min-height: 78px;
}

.pictureBox__fragment-container {
  @include base-flex(column, 30px);
  width: 77%;
}

.pictureBox__figure {
  @extend %null__item;
}

.pictureBox__pic_5 {
  @include pictures(270px, 284px);
  width: 31%;
}

.pictureBox__pic_6 {
  @include pictures(370px, 356px);
  width: 42.5%;
}

.pictureBox__pic2-headline {
  @extend %title__pic-headline;
  position: absolute;
  bottom: 20px;
  left: 5%;
}

.pictureBox__pic6-headline {
  position: absolute;
  top: 20px;
  left: 39%;
  @extend %title__pic-headline;
}

.pictureBox__pic_7 {
  @include pictures(170px, 222px);
  width: 20%;
}

.pictureBox__fragment_bottom {
  @include base-flex(row, 3.5%);
  position: relative;
  align-items: flex-start;
}
