@import '../../commonStyles/commonStyles.scss';

.articles-list {
  width: 100%;
}

.articles-list__box {
  padding: 80px 135px;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

.articles-list__list {
  @extend %null__item;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media screen and (max-width: 1439px) {
  .articles-list__list {
    justify-content: center;
  }
  .tag-container__list {
    justify-content: center;
  }
}

@media screen and (max-width: 1280px) {
  .articles-list__box {
    padding-right: 65px;
    padding-left: 65px;
  }
}

@media screen and (max-width: 1024px) {
  .articles-list__box {
    padding: 40px 25px;
  }
}
