@import '../../../commonStyles/commonStyles.scss';

.parrot-card {
  box-sizing: border-box;
  padding: 32px;
  max-width: 370px;
  // min-height: 536px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #ffffff;
  @extend %button__transition;
  &:hover {
    filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12))
      drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
  }
  height: 700px;
}

.parrot-card__picture {
  width: 100%;
  object-fit: cover;
  margin: 20px 0;
  border-radius: 20px;
  height: 200px;
}

.parrot-card__title {
  @extend %null__item;
  letter-spacing: 0.2px;
  color: $violetDetails;
  @extend %text__regular;
  font-weight: 700;
}

.parrot-card__condition-list {
  @extend %null__item;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.parrot-card__condition {
  @extend %null__item;
  margin-bottom: 0;
  margin-left: 48px;
  @extend %text__regular;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: -48px;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/icons/Icon-list-gray.svg);
  }
}

.parrot-card__condition_yellow {
  &::after {
    background-image: url(../../../images/icons/Icon-list-yellow.svg);
  }
}

.parrot-card__condition_green {
  &::after {
    background-image: url(../../../images/icons/Icon-list-green.svg);
  }
}

.parrot-card__button {
  width: 100%;
  max-width: 306px;
  height: 64px;
  margin-top: 0;
  background: white;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %text__button_small;
  @extend %button__transition;
  &:hover {
    color: white;
    background: $violetDetails;
  }
}

@media screen and (max-width: 767px) {
  .parrot-card {
    padding: 24px;
    width: 48%;
    min-height: 392px;
    //min-width: 330px;
    min-width: 48%;
    max-width: 48%;
    border-radius: 12px;
    filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16))
      drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
  }

  .parrot-card__condition {
    margin-bottom: 24px;
    margin-left: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    &::after {
      left: -32px;
      width: 24px;
      height: 24px;
      background-size: contain;
    }
  }
  .parrot-card__button {
    height: 48px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
  }
}

@media screen and (max-width: 631px) {
  .parrot-card {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .parrot-card {
    min-width: 100%;
  }
}
