@import '../../commonStyles/commonStyles.scss';

.benefits {
  width: 100%;
  background-color: $mainBackgroundColor;
}

.benefits__box {
  @include base-flex(column, 40px);
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
  padding: 80px 135px;
  margin: 0 auto;
}

.benefits__title-box {
  @include base-flex(column, 15px);
}

.benefits__title {
  letter-spacing: -0.5px;
  @extend %title__small;
  @extend %null__item;
}

.benefits__description {
  display: block;
  max-width: 85%;
  @extend %text__benefits;
  @extend %null__item;
}

.benefits__cardlist {
  @include base-flex(row, 30px);
}

.benefits__card {
  max-width: 270px;
}

.benefits__card-icon {
  width: 70px;
  height: 70px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__card-icon_1 {
  background-color: $accentColorPink;
}

.benefits__card-icon_2 {
  background-color: $accentColorBlue;
}

.benefits__card-icon_3 {
  background-color: $violetDetails;
}

.benefits__card-icon_4 {
  background-color: $accentColorGreen;
}

.benefits__card-pic {
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
  width: 56px;
  height: 56px;
}

.benefits__card-pic_1 {
  background-image: url(../../images/icons/icon-phone-call.svg);
}

.benefits__card-pic_2 {
  background-image: url(../../images/icons/icon-pie-chart.svg);
}

.benefits__card-pic_3 {
  background-image: url(../../images/icons/icon-zap.svg);
}

.benefits__card-pic_4 {
  background-image: url(../../images/icons/icon-good-job.svg);
}

.benefits__card-title {
  @extend %text__button_small;
  margin: 24px 0 16px;
  min-height: 36px;
}

.benefits__card-text {
  width: 100%;
  min-height: 128px;
  max-width: 270px;
  @extend %text__regular;
  @extend %null__item;
}

.benefits__link {
  display: block;
  border: 1px solid #adadad;
  border-radius: 16px;
  padding: 8px 16px;
  margin-top: 18px;
  text-align: center;
  box-sizing: border-box;
  letter-spacing: 0.2px;
  max-width: 146px;
  @include fonts(700, 18px, 32px);
  color: $violetDetails;
  @extend %links;
  &:hover {
    background: $violetDetails;
    color: white;
  }
}
