@import '../../commonStyles/commonStyles.scss';

.benefits {
  width: 100%;
  background-color: $mainBackgroundColor;
}

.benefits__box {
  @include base-flex(column, 40px);
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
  padding: 80px 135px;
  margin: 0 auto;
}

.benefits__title-box {
  @include base-flex(column, 15px);
}

.benefits__title {
  letter-spacing: -0.5px;
  @extend %title__small;
  @extend %null__item;
}

.benefits__description {
  display: block;
  max-width: 85%;
  @extend %text__benefits;
  @extend %null__item;
}

.benefits__cardlist {
  @include base-flex(row, 30px);
}
