@import '../../../commonStyles/commonStyles.scss';

.return-button {
  margin-top: 20px;
  text-decoration: none;
  color: $violetDetails;
  display: flex;
  align-items: center;
  @extend %button__transition;
  //.return-button__arrow:hover {
  //transform: translateX(-5px);
  // transform: translateX(-5px) scaleX(-1);
  //}
  opacity: 1;
  &:hover {
    opacity: 0.8;
  }
  &:hover .return-button__arrow {
    transform: translateX(-5px) scaleX(-1);
  }
}

.return-button__text {
  @extend %null__item;
}

.return-button__arrow {
  background-image: url(../../../images/icons/icon-link-arrow.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px;
  @extend %button__transition;
  transform: scaleX(-1);
  /* &:hover {
    transform: translateX(-5px) scaleX(-1);
  } */
}
